  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'webstore:home' %}">Webstore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse" style="">
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'webstore:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webstore:about_us' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webstore:product_list' %}">Products</a>
          </li>

          <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-link" href="#" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu1">
                {% for key, value in categories.items %}
                {% if value %}
                <li class="dropdown dropend">
                  <a class="dropdown-item dropdown-toggle" href="{% url 'webstore:category_details' key.id %}" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{key}}</a>
                  <ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu2">
                      {% for x in value %}
                      <li><a class="dropdown-item" href="{% url 'webstore:sub_category_details' x.id %}">{{x}}</a></li>
                      {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'webstore:category_details' key.id %}">{{key}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webstore:sub-category' %}">Sub Categories</a>
        </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webstore:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webstore:cart' %}">Cart</a>
            </li>
          {% endif %}


          <!-- Right Side -->
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webstore:logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webstore:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'webstore:register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <script>
    let dropdowns = document.querySelectorAll('.dropdown-toggle')
    dropdowns.forEach((dd)=>{
        dd.addEventListener('click', function (e) {
            var el = this.nextElementSibling
            el.style.display = el.style.display==='block'?'none':'block'
        })
        dd.addEventListener('click', function (e) {
            var el = this.nextElementSibling
            el.style.display = el.style.display==='block'?'block':'none'
        })
    })
  </script>