{% extends 'layouts/public_base.html' %}
{% load static %}
{% block description %}
  Login page.
{% endblock %}

{% block keywords %}
  login
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

<section class="py-5 text-center">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sub Categories Detail</h1>
        <p class="lead text-muted">Detail of the Sub Category!</p>
        <p>
          <a href="{% url 'webstore:sub-category' %}" class="btn btn-primary my-2">Sub Categories</a>
        </p>
      </div>
    </div>
  </section>

{% if products %}
<hr>
<div class="row py-lg-5">
    <h1 class="fw-light">Products in Sub Category</h1>
    </div>
{% for row in products %}
<div class="row mx-n2 mx-sm-n3">
  {% for product in row %}
  <div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
    <!-- Product -->
    <div class="card text-center h-100">
      <div class="position-relative">
        <a class="text-secondary" href="{% url 'webstore:product_detail' product.2 %}">
          <img class="card-img-top" src="{{ product.0 }}" alt="Image Description">
        </a>
      </div>
  
      <div class="card-body pt-4 px-4 pb-0">
        <div class="mb-2">
          <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="{% url 'webstore:category_details' product.1.category.id %}">{{product.1.category.name}}</a>
          <h4 class="font-size-1 font-weight-normal">
            <a class="text-secondary" href="{% url 'webstore:product_detail' product.2 %}">{{product.3}}</a>
          </h4>
          <div class="d-block">
            <span class="font-weight-medium">${{product.4}}</span>
          </div>
          <div class="d-block">
            <span class="font-weight-medium">Stock: {{product.5}}</span>
          </div>
        </div>
      </div>
  
      <div class="card-footer border-0 pt-0 pb-4 px-4">
        <div class="mb-3">
          <a class="d-inline-flex align-items-center small" href="#"> 
            <div class="text-warning mr-2">
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
              <small class="fas fa-star"></small>
            </div>
            <span class="text-secondary">9</span>
          </a>
        </div>
        <a href="{% url 'webstore:add_to_cart' product.2 %}" type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</a>
      </div>
    </div>
    <!-- End Product -->
  </div>
  {% endfor %}
  </div>
  <!-- End Products -->
  {% endfor %}
{% endif %}

 {% endblock %}
 

